@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/* Обнуление и общие стили */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    /* Избегаем переполнения текста, разрешаем жесткий перенос */
    overflow-wrap: break-word;
}

p {
    overflow-wrap: break-word;
    /* используем дефисы */
    /* hyphens: auto; */
}

a {
    font: inherit;
    color: inherit;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

:focus,
:active,
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: top;
}

button,
input[type='submit'] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

button,
label {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.page,
.page__body {
    height: 100%;
}

.page {
    /* Управление высотой строки, критерии WCAG для «основного» текста (см. стр.11) */
    /* line-height: calc(1em + 0.5rem); */
    line-height: 1.5;
    /* Улучшить рендеринг текста (отключаем субпиксельное сглаживание в Chrome и Safari) */
    -webkit-font-smoothing: antialiased;
    font-family: 'Dewi', sans-serif;
    font-size: 14px;
    font-weight: 400;    
}

.page:focus-within {
    scroll-behavior: smooth;
}

.page__body--shop {
    /* блокирует  переброс к началу блока при нажатии на кнопку товара */
    overflow-anchor: none;
}

/* .page__body {
  padding: 0px 15px;
   font-size: 16px;
   background-color: rgb(247, 239, 233);
   color: #2e2f34;
} */

/* body._lock {
   overflow: hidden;
} */

/* если нужно скрыть объект, но оставить доступным для скрин-ридеров */
/* .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   bottom: 0;
   clip: rect(0 0 0 0);
} /*

/* .hide {
   display: none;
} /*

/* .wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
} */

[class*='__container'] {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0px var(--gutter);
}

/** Переменные */
:root {
    --cart-font-family: "Noto Sans", sans-serif;
    --cart-second-family: "Roboto", sans-serif;

    --clr: #083d41;

    --accent-color: #5d71dd;
    --accent-hover-color: #7c8de6;
    --accent-active-color: #2e44c0;
    --accent-quantity-color: #de707b;

    /* --basic-black: ; */
    --basic-dark: #273238;
    --basic-semi-light: #696969;
    --basic-neutral: #b1b3b6;
    --basic-light: #e9eaeb;
    --basic-gray: #4d4d4d;
    --basic-light-gray: #808080;
    --basic-white: #ffffff;

    --special-extra-dark: #386d9b;
    --special-dark: #3b84bb;
    --special-dark-10a: rgb(59, 132, 187, 0.1);
    --special-semi-dark: #42a8da;
    --special-neutral: #61afb4;
    --special-semi-light: #81c36d;
    --special-light: #afe63a;
    --special-extra-light: #c6f523;

    --gutter: 20px;
}

/* Базовые стили элементов */
.header {
    padding-top: 16px;
    padding-bottom: 16px;
    display: grid;
}
/* =------ logo --------------------------------------= */
.logo {
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    -moz-column-gap: 8px;
    column-gap: 8px;
    line-height: 1;
}
.logo__image {
    width: 40px;
    height: 44px;
    max-width: none;
}
.logo__title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: var(--basic-black, #000000);
}
.logo__tagline {
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--basic-dark, #273238);
}

/* =------ nav --------------------------------------= */
.menu__list {
    font-size: 12px;
}
.menu__item {
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.menu__link {
    color: var(--special-dark, #3b84bb);
}
.menu__link:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: var(--special-neutral, #61afb4);
}
.menu__link--desc {
    display: none;
    text-transform: none;
    cursor: none;
    pointer-events: none;
}
.menu__link[aria-current] {
    font-family: 'Dewi Expanded', sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: var(--basic-black, #000000);
}
.menu__link--inactive {
    color: var(--basic-semi-light, #696969);
}
.menu__link--patreon {
    position: relative;
    padding-left: 18px;
}
.menu__link--patreon::before {
    margin-top: 2px;
    position: absolute;
    margin-left: -18px;
    width: 16px;
    height: 16px;
    content: url('../images/patreon.svg');
}
/* =------ btn --------------------------------------= */
.btn {
    padding: 12px 20px;
    color: var(--basic-white);
    background-color: var(--accent-color);
    border-radius: 4px;
    transition: background-color 0.3s ease-in;
}
.btn:hover,
.btn:focus {
    background: var(--accent-hover-color);
}
.btn:active {
    background: var(--accent-active-color);
}

/* =------ title --------------------------------------= */
.title {
    padding: 15px;
    font-size: 22px;
    font-weight: 700;
}
.title span {
    color: var(--special-extra-dark);
}

/* =------ box-description --------------------------------------= */
.box-description {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.box-description__inner {
    margin-right: 20px;
    flex: 0 1 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--clr);
    font-size: 16px;
}
.box-description__link {
    margin-bottom: 20px;
    display: inline-block;
    color: tomato;
}
.box-description__image {
    max-width: 200px;
}
.box-description__image img {
    width: 100%;
}

/* =------ cards-box --------------------------------------= */
.cards-box {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr);
}
.cards-box__item {
    margin-bottom: 30px;
}
.imgBx {
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 50%;
}
.card__video {
    border-radius: 15px;
}
.imgBx img,
.card__video video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* =------ news --------------------------------------= */
.news--first {
    background-color: lightgreen;
}
.news__title {
    padding: 15px 15px 10px;
    font-size: 18px;
}
.news__lead {
    padding: 0 15px 15px;
}
.news--second {
    background-color: peachpuff;
}

@media (width > 767.98px) {
    .logo__image {
        grid-row: span 2;
    }
    .logo__title {
        align-self: end;
    }
    .logo__tagline {
        align-self: center;
    }
    .menu__button {
        display: none;
    }
    .menu__list {
        display: grid;
        grid-auto-flow: column;
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
    .header {
        padding-left: 24px;
        padding-right: 24px;
        grid-template-columns: -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
    }
    .header__menu {
        align-self: center;
    }
}

/* ======= CARDS-PAGE ===================================================================================== */
/* =------ Inverted border-radius Card --------------------------------------= */
.card {
    position: relative;
    width: 320px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__box {
    position: relative;
    width: 110%;
    height: 200px;
    background-color: var(--basic-light);
    border-radius: 15px;
}
.card__box:nth-child(1)::before,
.card__box:nth-child(1)::after,
.card__box:nth-child(2)::before,
.card__box:nth-child(2)::after,
.card__content button:before,
.card__content button:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    z-index: 10;
}
.card__box:nth-child(1)::before,
.card__box:nth-child(1)::after {
    border-bottom-left-radius: 20px;
    box-shadow: -6px 6px var(--clr);
}
.card__box:nth-child(2)::before,
.card__box:nth-child(2)::after {
    border-top-left-radius: 20px;
    box-shadow: -6px -6px var(--clr);
}
.card__box:nth-child(1)::before {
    top: 106px;
    left: -1px;
}
.card__box:nth-child(1)::after {
    bottom: -1px;
    left: 104px;
}
.card__box:nth-child(2) {
    width: 100%;
    height: 220px;
}
.card__box:nth-child(2)::before {
    bottom: 106px;
    left: -1px;
}
.card__box:nth-child(2)::after {
    top: -1px;
    left: 109px;
}
.card__content button:before {
    top: 22px;
    left: -29px;
    border-top-right-radius: 20px;
    box-shadow: 5px -7px var(--basic-light);
}
.card__content button:after {
    top: 22px;
    right: -29px;
    border-top-left-radius: 20px;
    box-shadow: -5px -7px var(--basic-light);
}
.card__circle {
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #afe63a;
    border: 10px solid var(--clr);
}
.card__content {
    padding: 30px 10px 20px;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Poppins, sans-serif;
}
.card__content h2 {
    padding-left: 120px;
    width: 100%;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    line-height: 1.1;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}
.card__content h2 span {
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #e91e63;
    text-transform: initial;
}
.card__content ul {
    padding: 0 10px;
    width: 100%;
    position: relative;
    top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}
.card__content ul li {
    padding: 0 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    color: #999;
}
.card__content ul li:not(:last-child) {
    border-right: 1px solid #ccc;
}
.card__content ul li span {
    font-size: 1.75em;
    color: #333;
}
.card__content button {
    position: relative;
    top: 25px;
    padding: 8px 30px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
    background: #03a9f4;
    border-radius: 30px;
    border: 5px solid var(--clr);
    box-shadow: 0 0 0 10px var(--basic-light);
    transition: 0.5s;
}
.card__content button:hover {
    letter-spacing: 0.5em;
    background: #ff3d7f;
}

/* ======= SHOP-PAGE ===================================================================================== */

/* =------ header-products section --------------------------------------= */
.header-products {
    position: relative;
    z-index: 100;
    font-family: var(--cart-font-family);
    color: var(--basic-gray);
    background: var(--basic-white);
    box-shadow: 0px 4px 4px 0px rgba(135, 135, 135, 0.25);
}
/* .header-products__container {}
.header-products__nav {} */
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item:not(:last-child) {
    margin-right: 60px;
}
.nav__link {
   font-family: var(--cart-second-family);
   font-weight: 500;
   font-size: 16px;
}
.header-products__cart {
    margin-left: 40px;
}
.cart {
   position: relative;
   padding: 40px 20px;
   font-family: var(--cart-font-family);
   cursor: pointer;
   transition: background-color 0.3s;
}
.cart.active:hover {
    background-color: rgba(93, 113, 221, 0.1);
}
.cart__text {
   font-family: var(--cart-second-family);  
   font-weight: 500;
   font-size: 16px;
}
.nav__link:hover,
.nav__link:focus,
.cart.active:focus .cart__text {
    color: var(--accent-color);
}
.cart__quantity {
    position: absolute;
    right: 7px;
    top: 40%;
    transform: translateY(-50%);

    display: inline-flex;
    padding: 2px;
    min-height: 16px;
    min-width: 16px;
    align-items: center;
    justify-content: center;
    
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: var(--basic-white);

    background-color: var(--accent-quantity-color);
    border-radius: 50%;
}
.cart-content {
    position: absolute;
    right: 0;
    top: 100%;
    width: 490px;

    background-color: var(--basic-white);
    box-shadow: 0px 4px 4px 0px rgba(135, 135, 135, 0.25);
    opacity: 0;
    visibility: hidden;
    cursor: default;
    transition: opacity .3s, visibility .3s;
}
.cart.active:hover .cart-content {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s, visibility .3s;
}
.cart.active:focus .cart-content {  
    opacity: 1;
    visibility: visible;
    transition: opacity .3s, visibility .3s;
}
.cart-content__list {
    max-height: 330px;
}
.simplebar-track.simplebar-vertical {
    right: 5px;
    margin-top: 20px;
    width: 4px;
    height: calc(100% - 40px);
    border-radius: 5px;

    background: rgba(77, 77, 77, 0.1);
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    border-radius: 5px;

    background: rgba(77, 77, 77, 0.1);
    opacity: 1;
}
/* .cart-content__item {}
.cart-content__product {} */
.cart-product {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}
.cart-product:hover {
    background-color: rgba(93, 113, 221, 0.1);
}
.cart-product__image {
    margin-right: 20px;
    max-width: 100px;
    max-height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
}
/* .cart-product__text {} */
.cart-product__title {
    margin-bottom: 15px;
    max-width: 280px;
}
.cart-product__price {    
    font-family: var(--cart-second-family);
    font-size: 20px;
    font-weight: 700;
}
.cart-product__delete {
    margin-left: auto;
    width: 20px;
    height: 20px;
    background: url('../images/trash 2.svg') center / cover no-repeat;
}
.cart-content__bottom {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaeaea;
}
.cart-content__fullprice {
    display: grid;
    row-gap: 10px;
}
.fullprice {
    font-family: var(--cart-second-family);
    font-size: 20px;
    font-weight: 700;
}
.cart-content__btn {
    flex: 0 1 246px;
}
/* =------ order-modal --------------------------------------= */
.modal {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(105, 107, 120, 0.2);
}
/* .modal__wrap {} */
/* .modal__content {} */
/* .order-modal {} */
.order-modal__content {
    padding: 40px;
    width: 592px;
    min-height: 542px;
    border-radius: 4px;

    font-family: var(--cart-font-family);
    color: var(--basic-light-gray);
    background-color: var(--basic-white);
}
.order-modal__head {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-modal__title {
    font-weight: 600;
    font-size: 18px;
    color: var(--accent-color);
}
.order-modal__number {    
    font-size: 12px;
    color: var(--basic-light-gray);
}
.order-modal__info {
    margin-bottom: 20px;
    padding: 34px 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
/* .order-modal__quantity {} */
.order-modal__info-item:not(:last-child) {
    margin-bottom: 15px;
}
.order-modal__info-item span {
    margin-left: 5px;
    font-weight: 600;
}
/* .order-modal__summ {} */
/* .order-modal__products {} */
.order-modal__list {
    display: none;
}
.order-modal__item {
    padding-top: 15px;
}
.order-modal__product {
    display: grid;
    grid-template-columns: 60px 1fr -webkit-max-content;
    grid-template-columns: 60px 1fr max-content;
    gap: 4px 10px;
    transition: background-color 0.3s;
}
/* .order-modal__product:hover {
    background-color: rgba(93, 113, 221, 0.1);
} */
.order-modal__image {
    grid-row: span 2;
    align-self: center;
    max-width: 60px;
    max-height: 60px;
    -o-object-fit: cover;
       object-fit: cover;
}
.order-modal__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-modal__product-title {
    grid-column: span 2;
    font-size: 12px;
}
.order-modal__price {
    font-family: var(--cart-second-family);
    font-weight: 700;
}
.order-modal__delete {
    font-size: 12px;
    transition: color 0.3s;
}
.order-modal__delete:hover, 
.order-modal__delete:focus {
    color: var(--accent-hover-color);
}
.order-modal__open {
    position: relative;
}
.order-modal__open::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 8px;
    height: 7px;
    background: url("../images/arrow.svg") center / contain no-repeat;
}
/* .order-modal__form {} */
.order {
    padding: 0 40px;
}
.order__label {
    margin-bottom: 14px;    
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
}
label:last-of-type {
    margin-bottom: 20px;
}
/* .order__text {} */
.order__input {
    padding: 0 14px;
    width: 240px;
    height: 45px;
    border-radius: 4px;
    
    background: #efefef;
}
.order__input::-webkit-input-placeholder {
    color: #b1b1b1;
}
.order__input::-moz-placeholder {
    color: #b1b1b1;
}
.order__input:-ms-input-placeholder {
    color: #b1b1b1;
}
.order__input::-ms-input-placeholder {
    color: #b1b1b1;
}
.order__input::placeholder {
    color: #b1b1b1;
}
.order__btn {
    width: 100%;
}

/* =------ products section --------------------------------------= */
.products {
    padding: 90px 0;
    font-family: var(--cart-font-family);
}
/* .products__container {} */
.products__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gutter);
}
.products__filters {
    position: relative;
}
._fixed {
    position: fixed;
    top: var(--gutter);
    left: 0;
}
._absolute {
    position: absolute;
    bottom: 0;
    left: 0;
}
/* .filters {}
.filters__item {}
.filter-price {}
.filter-price__title {}
.filter-price__slider {} */
.filter-price__inputs {
    width: 100%;
    border: 1px solid #03a9f4;
}
/* .filter-price__input {} */
.products__items {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gutter);
}
/* .products__item-wrap {} */
/* .products__item {} */
.product {
    padding: var(--gutter);
    color: var(--basic-light-gray);
    background: var(--basic-white);
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.product__image {
    position: relative;
    overflow: hidden;
    display: block;
    height: 162px;
}
/* .product__switch {} */
.image-switch {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
}
.image-switch__item {
    flex-grow: 1;
    cursor: pointer;
}
.image-switch__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: var(--basic-white);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.image-switch__img img {
    display: block;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.image-switch__item:first-child .image-switch__img {
    opacity: 1;
    z-index: -1;
}
.image-switch__item:hover .image-switch__img {
    opacity: 1;
    z-index: -1;
}
/* .product__image-pagination {} */
.image-pagination {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    z-index: 30;
    display: flex;
    justify-content: center;
}
.image-pagination__item {
    margin: 0 3px;
    width: 4px;
    height: 4px;
    background: #c4c4c4;
    border-radius: 50%;
}
.image-pagination__item--active {
    background: var(--accent-color);
}
.product__title {
    margin-bottom: 10px;
    color: var(--basic-gray);
    line-height: 1.43;
}
.product__props {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}
/* .product__rating {} */
.rating {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    color: var(--accent-color);
    font-weight: 600;
}
.rating svg {
    margin-right: 5px;
    fill: currentColor;
}
/* .rating__star {} .product_testimonials {} */
.product__info {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
/* .product__term {} .product__available {} */
.product__price {
    margin-bottom: 19px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    -moz-column-gap: 14px;
    column-gap: 14px;
    align-items: center;
}
.product-price__current {
    font-family: 'Dewi Expanded', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--basic-gray);
}
.product-price__old {
    font-size: 12px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
}
.product__btn {
    width: 100%;
}
.product__btn:disabled {
    opacity: 0.4;
    pointer-events: none;
}


/* ======= THEMES-PAGE ===================================================================================== */
.sky {
    display: grid;
    place-content: center;
    background-color: var(--sky-color, #c7cbcc);
    background-image: var(--sky-image);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.celestial-body {
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    background-color: var(--celestial-body, #fdd03c);
    background-image: radial-gradient(
        circle at 20% 20%,
        var(--celestial-body-background, #fff566) 50%,
        var(--celestial-body-shadow, rgb(222 168 33 / 0.4))
    );
    /* opacity: 0.85; */
    box-shadow: 0 0 10vmin var(--celestial-body-glow-1, rgba(70, 130, 180, 0.4)),
        1vmin 0 10vmin var(--celestial-body-glow-2, rgba(252, 181, 2, 0.4));
}

/* =------ switcher-themes --------------------------------------= */
.switcher {
    padding: 2px;
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.switcher__legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.switcher__radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    transition: -webkit-filter 0.2s ease-in;
    transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
}
.switcher__radio:focus {
    outline: none;
}
.switcher__status {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 0.2);
    border-radius: 18px;
    background-color: rgb(255 255 255 / 0.5);
    background-repeat: no-repeat;
    background-image: url('../images/status.svg');
    background-size: 32px;
    background-position: center;
    transition: background-position 0.2s ease-in;
}
/* для пользователей, пользующихся только клавиатурой */
.switcher__radio:focus-visible ~ .switcher__status {
    box-shadow: 0 0 0 2px black;
}
.switcher__radio--light {
    background-image: url('../images/light.svg');
}
.switcher__radio--auto {
    background-image: url('../images/auto.svg');
}
.switcher__radio--dark {
    background-image: url('../images/dark.svg');
}
.switcher__radio--light:checked ~ .switcher__status {
    background-position: left 2px center;
}
.switcher__radio--auto:checked ~ .switcher__status {
    background-position: center center;
}
.switcher__radio--dark:checked ~ .switcher__status {
    background-position: right 2px center;
}

/* ======= COLUMNS-SECTION ===================================================================================== */
.columns-section {
    margin: auto;
    padding: 15px;
    background-color: lightblue;
}
.columns-section__box {
    margin-bottom: 30px;
}
.columns-section__box--salmon {
    background-color: darksalmon;
}
.box {
    padding: 15px;
}
.box__description {
    margin-bottom: 10px;
    color: maroon;
}
.box__description--green {
    color: darkgreen;
}
.box__description span {
    font-weight: 700;
}

/* =------ columns-grid --------------------------------------= */
.columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

/* =------ columns-flex --------------------------------------= */
.columns-flex {
    display: flex;
    /* column-gap: 20px; */
    /* для улучшения кроссбраузерности */
    justify-content: space-between;
}
.columns-flex__item {
    /* width: 50%; */
    /* для улучшения кроссбраузерности */
    width: calc(50% - 10px);
}

/* =------ columns-multi --------------------------------------= */
.columns-multi {
    -moz-columns: 2;
    columns: 2;
    -moz-column-gap: 20px;
    column-gap: 20px;
}
.columns-multi__item {
    /* чтобы контент не перетекал из одного столбца в другой */
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

/* =------ columns-inline --------------------------------------= */
.columns-inline {
    word-spacing: 20px;
    font-size: 0;
}
.columns-inline__item {
    display: inline-block;
    width: calc(50% - 10px);
    vertical-align: top;
    word-spacing: normal;
    font-size: 14px;
}

/* =------ columns-float --------------------------------------= */
.columns-float {
    /* overflow: hidden; содержимое может обрезаться*/
    display: flow-root;
}
.columns-float__item {
    width: calc(50% - 10px);
}
.columns-float__item--first {
    float: left;
}
.columns-float__item--second {
    float: right;
}

/* =------ columns-table --------------------------------------= */

.columns-table {
    border-collapse: collapse;
}
.columns-table__item {
    width: 50%;
    vertical-align: top;
}
.columns-table__item--first {
    padding-right: 10px;
}
.columns-table__item--second {
    padding-left: 10px;
}

/* =------ columns-frame --------------------------------------= */
.box--width {
    height: 350px;
}
.columns-frame {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

/* =------ columns-bg --------------------------------------= */
.columns-bg {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    /* блоки после рендеринга отобразятся в виде картинок */
    background-image: -moz-element(#news-first), -moz-element(#news-second);
    background-position: left top, right top;
}
.columns-bg__item {
    /* прячем колонки */
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    width: calc(50% - 10px);
}

/* =------ columns-svg --------------------------------------= */
.columns-svg {
    display: block;
    width: 100%;
    height: 100%;
}

/* =------ columns-position --------------------------------------= */

.columns-position {
    position: relative;
}
.columns-position__item {
    position: absolute;
    top: 0;
    width: calc(50% - 10px);
}
.columns-position__item--first {
    left: 0;
}
.columns-position__item--second {
    right: 0;
}

/* =------ columns-writing --------------------------------------= */

.columns-writing {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}
.columns-writing__item {
    width: 560px;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
}
.columns-writing__item + .columns-writing__item {
    margin-left: 20px;
}
