:root {
    --back-color: #c7cbcc;
    --back-image: url('../images/light-theme.jpg');
    --celestial-body: #fdd03c;
    --celestial-body-background: #fff566;
    --celestial-body-shadow: rgb(222 168 33 / 0.4);
    --celestial-body-glow-1: rgb(70 130 180 / 0.4);
    --celestial-body-glow-2: rgb(252 181 2 / 0.4);
}
